.chat-box{
    // border: 1px solid #cecece;
}
.badge{
    font-size: 50%;
    position: relative;
    bottom: 3px;
    margin: 0 5px;
}

.input-group{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 !important;
}
.history{
    padding: 3px 0;
}
.history .badge{
    float: left;
    font-size: 13px;
    position: relative;
    top: 2px;
}