

<div>
  <h4>Users</h4>
  <div class="container" *ngIf="init">
      <div class="row">
        <div class="col-sm">
            <ul class="list-group">
                <app-chat-users *ngFor="let user of users" [user]="user" [init]="init"> </app-chat-users>
            </ul>
        </div>
        <div class="col-sm">
            <ul class="list-group">
                <li  *ngFor="let m of messages" class="list-group-item {{m.class}}">{{m.text}}</li>
              </ul>
        </div>
      </div>
  </div>
  <!-- <div *ngIf="init">
    <app-chat-users *ngFor="let user of users" [user]="user" [init]="init"> </app-chat-users>
    <p *ngFor="let m of messages">
      {{m}}
    </p>
  </div> -->
</div>