
<div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
          <div class="input-group mb-4">
              <input class="form-control" placeholder="message" type="text" id="msg" [(ngModel)]="message" >
              <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="publish()">publish</button>
              </div>
            </div>     
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>


<div class="container">
  <table class="table table-striped">
    <tr>
      <th>Time Token</th>
      <th>Message</th>
      <th>CreatedAt</th>
    </tr>
    <tr *ngFor="let msg of history">
        <td>{{msg.timetoken}}</td>
        <td>{{msg.entry.message}}</td>
        <td>{{msg.entry.createdAt | date: 'medium'}}</td>
    </tr>
  </table>
</div>
